@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color: #232ed1;
    --secondary-color: #f4e8c1;
    --accent1-color: #e3d7ff;
    --accent2-color: #65def1;
    --heading-font: 'Noto Serif';
    --paragraph-font: sans-serif;
    --nav-background-color: #444;
    --nav-link-color: #fff;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    }
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 100px 1.5fr 1.5fr;
    align-items: center;    
	  border-bottom: 1px solid var(--nav-background-color);
	  max-width: 1200px;
}

header h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
    grid-column: 2/3;
    
}

header img {
    grid-column: 1/2;
    margin: 0 0.25rem 0 1rem;
	  width: 64px;
	  height: auto;
}

nav {
    /* background-color: var(--nav-background-color); */
    font-size: 1.2rem;
    grid-column: 3/4;    
}

.nav_links  {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav_links li{
display: block;
padding: 1rem;
}

nav a:link {
color: var(--primary-color);
text-decoration: none;
}

nav a:visited {
color: navy;
}

nav a:hover {
color: var(--nav-hover-link-color);
background-color: var(--nav-hover-background-color);
}

.hero {
	margin: 10px auto;
	position: relative; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

.hero h1 {
    position: absolute;
    width: 90%;;    
    top: 50px;
    left: 0;
    text-align: center;
    transform: translateY(-50%);    
    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 1; 
    margin: 0;
     
  }

.hero article {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 80%;
    background-color: rgba(23, 50, 96, 0.56);
    padding: 20px;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    color: #f2f0f7;
    
  }

.hero article img {
    
    float: right;
    width: auto;
    height: 100%;
  }
.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
    background-color: #f2f0f7;
    border-radius: 5px;
    box-shadow: 0 0 10px #777;
}

.history h2 {
    margin-bottom: 0.5rem;
}

.history p {
    margin-bottom: 1rem;
}

.history img {
    width: 50%;
    height: auto;
    margin: 1rem auto;
}
   
.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
}

.adventures h2 {
    grid-column: 1/6;
    grid-row: 1;
    margin: 0 auto;
    text-align: center;
    
}

.adventures figure {
    grid-column: span 1;
}

.adventures figure img {
    width: 100%;
    height: auto;
}

.adventures figure figcaption {
    text-align: center;
}

footer {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 60px;
    align-items: center;
    border-top: 1px solid var(--nav-background-color);
    max-width: 1200px;
}

footer p {
    grid-column: 1/2;
    text-align: center;
    padding: 0;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}

.sociallinks li {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.sociallinks a {
    width: 45px;
    text-decoration: none;
}

.sociallinks img {
    width: 100%;
    height: auto;
}
