@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color: #232ed1;
    --secondary-color: #f4e8c1;
    --accent1-color: #e3d7ff;
    --accent2-color: #65def1;
    --heading-font: 'Noto Serif';
    --paragraph-font: sans-serif;
    --nav-background-color: #444;
    --nav-link-color: #fff;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    }
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 100px 1.5fr 1.5fr;
    align-items: center;    
	  border-bottom: 1px solid var(--nav-background-color);
	  max-width: 1200px;
}

header h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
    grid-column: 2/3;
    
}

header img {
    grid-column: 1/2;
    margin: 0 0.25rem 0 1rem;
	  width: 64px;
	  height: auto;
}

nav {
    /* background-color: var(--nav-background-color); */
    font-size: 1.2rem;
    grid-column: 3/4;    
}

.nav_links  {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav_links li{
display: block;
padding: 1rem;
}

nav a:link {
color: var(--primary-color);
text-decoration: none;
}

nav a:visited {
color: navy;
}

nav a:hover {
color: var(--nav-hover-link-color);
background-color: var(--nav-hover-background-color);
}

.hero {
	margin: 10px auto;
	position: relative; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

.hero h1 {
    position: absolute;
    width: 90%;;    
    top: 50px;
    left: 0;
    text-align: center;
    transform: translateY(-50%);    
    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 1; 
    margin: 0;
     
  }

.hero article {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 80%;
    background-color: rgba(23, 50, 96, 0.56);
    padding: 20px;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    color: #f2f0f7;
    
  }

.hero article img {
    
    float: right;
    width: auto;
    height: 100%;
  }

.history {
    display: grid;
    grid-template-rows: auto 1fr; /* Two rows */    
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
}

.history h2 {
    grid-column: 1/4;
    grid-row: 1;
    margin: 0 auto;
    text-align: center;    
}

.history img {
    display: block;
    grid-row: 2;
    grid-column: 2;
    margin: 0 auto;    
    width: 100%;
    height: auto; 
    align-self: center;  
    border-radius: 5px;
    box-shadow: 0 5px 10px #3a3535; 
}

.history p:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
}

.history p:nth-child(2) {
    grid-column: 3;
    grid-row: 2;
}

   
.adventures {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
}

.adventures h2 {
    grid-column: 1/6;
    grid-row: 1;
    margin: 0 auto;
    text-align: center;
    
}

.adventures p {
    grid-column: 1/6;
    grid-row: 2;
    margin: 0 auto;
    text-align: center;
}

.adventures figure {
    grid-column: span 1;
}

.adventures figure img {
    width: 100%;
    height: auto;
}

.adventures figure figcaption {
    text-align: center;
}

footer {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 60px;
    align-items: center;
    border-top: 1px solid var(--nav-background-color);
    max-width: 1200px;
}

footer p {
    grid-column: 1/2;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}

.sociallinks li {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.sociallinks a {
    width: 45px;
    text-decoration: none;
}

.sociallinks img {
    width: 100%;
    height: auto;
}

/* General Styles */
.contact-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    max-height: 1300px;
    gap: 30px;
    padding: 20px;
}

/* Employee Profiles */
.employee-profiles {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.employee-profiles h2 {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
    margin: 10px;
    padding: 25px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: translateY(-8px);
}

.profile img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Company Information */
.company-info {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company-info iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    border: none;
}

/* Contact Form */
.contact-form {
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form input[type="radio"] {
    margin-right: 5px;
}

.contact-form label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
}

.contact-form label[for="message"],
.contact-form label[for="message-purpose"],
.contact-form label[for="subscribe-message"] {
    margin-top: 10px;
}

.contact-form input:not([type="radio"], [type="checkbox"]),
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.contact-form button {
    background-color: #3a0bb9;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.contact-form button:hover {
    background-color: #4136b8af;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}   

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

.button {
    
    padding-left: 90px;
    margin-left: 0.5em;
}


@media (min-width: 768px) {
    .contact-main {
        grid-template-columns: 1.5fr 2fr;
    }

    .employee-profiles {
        order: -1;
    }
}