


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0077be;
    --secondary-color: #004488;
    --accent-color: #ffcb05;
    --additional-accent-color: #ff6600;
    --heading-font: 'Noto Serif';
    --paragraph-font: sans-serif;
    --nav-bg-color: #444;
    --nav-link-color: #fff;
    --nav-hover-link-color: #fff;
    --nav-hover-bg-color: #666;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-bg-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-bg-color);
}

