      
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
  }

aside {
    position: relative;
    width: 20em;
    text-align: center;
  }

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Added these */
nav {
    background-color: #444;
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #c3d4e4;
  color: #2b4e6b;
}
