      
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;    
  }
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
   
}

/* main {
    max-width: 840px;
} */

main img {
    width: 150px;
    height: auto;
    float: right;
    border-radius: 15px;
    box-shadow: 0 5px 10px #3a3535;
    margin: 1rem;
}

p {
    padding: 0;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
  }

/* aside {
    position: relative;
    width: 20em;
    text-align: center;
  } */

aside img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

footer {
    
    border-top: 1px solid #000;
    text-align: center;
}
/* Added these */
nav {
    background-color: #444;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    
}

nav a {    
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    word-wrap: auto;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #000;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #c3d4e4;
  color: #2b4e6b;

}
 
  .grid {
    display: grid;
    align-items: center;
  }
  
  main {
    grid-column: 2/3;
    margin: 1rem;
  }
  
  aside {
    width: 15rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;    
  }